<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <rewrite>
            <rules>
                <rule name="Online Count">
                    <match url="^onlinecount$" ignoreCase="false" />
                    <action type="Rewrite" url="onlinecount.php" appendQueryString="false" />
                </rule>
            </rules>

        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <verbs allowUnlisted="true">
                    <add verb="OPTIONS" allowed="true" />
                    <add verb="GET" allowed="true" />
                    <add verb="POST" allowed="true" />
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                    <add verb="HEAD" allowed="true" />
                </verbs>
                <hiddenSegments>
                    <add segment="config.php" />
                </hiddenSegments>
                <denyUrlSequences>
                    <add sequence=".git" />
                    <add sequence=".env" />
                    <add sequence=".htaccess" />
                </denyUrlSequences>
                <fileExtensions>
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                </fileExtensions>
                <requestLimits maxQueryString="8192" maxUrl="8192" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>