<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Online Count">
                    <match url="^onlinecount$" ignoreCase="false" />
                    <action type="Rewrite" url="onlinecount.php" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="config.php" />
                </hiddenSegments>
                <denyUrlSequences>
                    <add sequence=".git" />
                    <add sequence=".env" />
                    <add sequence=".htaccess" />
                </denyUrlSequences>
                <fileExtensions>
                    <add fileExtension=".config" allowed="false" />
                    <add fileExtension=".bak" allowed="false" />
                    <add fileExtension=".log" allowed="false" />
                </fileExtensions>
                <requestLimits maxQueryString="4096" maxUrl="4096" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Allow-Origin" />
                <remove name="Access-Control-Allow-Methods" />
                <remove name="Access-Control-Allow-Headers" />
                <remove name="Access-Control-Max-Age" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, HEAD" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Requested-With, Accept, Origin" />
                <add name="Access-Control-Max-Age" value="86400" />
                <add name="Access-Control-Allow-Credentials" value="false" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
            </customHeaders>
        </httpProtocol>
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" requireAccess="None" responseBufferLimit="0" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    </system.webServer>
</configuration>